.App {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

span {
    font-size: 12px;
    padding: 3px;
    color: black;
    display: none;
}

form {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h1 {
    color: #7de957;
    text-align: center;
}

.button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #7de957;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

select {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label {
    font-size: 12px;
    color: gray;
}